/* Basic */
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1140px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 80px;
}

.logo-link {
  display: inline-block;
  margin-right: 52px;
}

.nav-menu {
  margin: 0;

  padding: 0;
  list-style: none;

  display: flex;
}

.nav-menu__item {
  margin: 0 30px 0 0;
}
.nav-menu__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.hero__date {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 28px;

  color: rgba(255, 255, 255, 0.8);
}
.hero__description {
  margin-top: 40px;

  max-width: 423px;
  font-size: 16px;
  line-height: 22px;
  /* or 22px */

  color: rgba(255, 255, 255, 0.8);
}

/* Button */
.btn-group {
  margin-top: 70px;
  /* width: 415px;
  height: 46px; */
}
.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-text,
.btn-icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.btn-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
}

.btn-pr {
  color: #8d0019;
  background-color: #fff;
}

.btn-link {
  color: white;
}
/* Images */
.venom {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
}

.blood {
  background: url(../images/blood.png) no-repeat top right,
    #14131a url(../images/bg.jpg) no-repeat center center / 100%;
}
.primary-bg {
  background: #14131a url(../images/bg.jpg) no-repeat center center / 100%;
}

/* ! "About" page */
.content {
  display: flex;
}

.col {
  flex-basis: 50%;
}
.description {
}
.description__title {
  margin-bottom: 21px;
  margin-top: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: rgba(255, 255, 255, 0.8);
}
.description__text {
  max-width: 423px;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: rgba(255, 255, 255, 0.8);
}
.description__subtitle {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: rgba(255, 255, 255, 0.8);
}
.description__cast {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.description__cast-list {
  list-style: none;
  padding: 0;
  margin: 15px 0px 30px 0px;
  column-count: 2;
  column-gap: 63px;

  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: rgba(255, 255, 255, 0.8);
}
.description__item {
}
.description__trailer-cover {
  width: 356px;
  height: 205px;
  background: url(../images/trailer.jpg) no-repeat center / 100%;

  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description__play-btn {
  background: #ffffff;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  border: none;
}
.description__play-trailer {
  width: 15px;
  height: 15px;
  transform: translate(1px, 2px);
  cursor: pointer;
}
.poster {
  display: flex;
  align-items: start;
}
.poster__poster-img {
  margin-right: 30px;
}
.poster__poster-img_foto {
  border-radius: 5px;
}
.poster__film-makers {
}
.poster__title {
  margin: 4px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: rgba(255, 255, 255, 0.8);
}
.poster__makers-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: rgba(255, 255, 255, 0.8);
}
.poster__item {
}
.makers-list {
}
